<div class="row">
  <div class="col-xs-9">
    <div class="posts">
      <div class="posts-image">
        <img width="830" height="553" src="<%= @post.image %>" alt=""/>
      </div>
      <div class="posts-header">
        <h2><%= @post.title %></h2>
        <div class="posts-meta">
          <span class="posted_time">Posted on <time><%= @post.created_at.strftime('%Y年%m月%d日')%></time></span>
        </div>
      </div>
      <div class="posts-content">
        <%= simple_format(@post.text) %><hr>
      </div>
    </div>
    <div id="comment-post">
      <%= form_tag(post_comments_path(@post), method: :post) do %>
        <label for="comment">コメント *</label><br>
        <textarea cols="110" rows="5" name="text" ></textarea><br>
        <label for="name">名前 *</label><br>
        <textarea cols="110" rows="1" name="name" required="true"></textarea><br>
        <input type="submit" value="送信">
      <% end %>
      <div class="comments">
        <h4><コメント一覧></h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="sidemenu">
      <aside class="search">
        <%= form_tag('/posts/search', method: :get) do %>
          <input name="keyword" type="text"></input>
          <input type="submit" value="検索"></input>
        <% end %>
      </aside>
      <aside class="archive">
        <h3>アーカイブ</h3>
        <ul>
          <% @archives.each do |yyyymm, count| %>
            <%= link_to ymconvert(yyyymm, count.to_s), "archives?yyyymm=#{yyyymm[0,6]}" %>
          <% end %>
        </ul>
      </aside>
    </div>
  </div>
</div>

