<div class="row">

  <div class="col-xs-9">
    <div class="posts">
      <div class="posts-image">
        <a href="/posts/#{@post.id}" title="@post.title"><img width="830" height="553" src="<%= @post.image %>" alt=""/></a>
      </div>
      <div class="posts-header">
        <h2><%= @post.title %></h2>
        <div class="posts-meta">
          <span class="posted_time">Posted on <time><%= @post.created_at.strftime('%Y年%m月%d日')%></time></span>
        </div>
      </div>
      <div class="posts-content">
        <%= simple_format(@post.text) %><hr>
      </div>
    </div>
    <div id="comment-post">
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        <label for="comment">コメント</label><br>
        <textarea cols="110" name="text" placeholder="コメントする" rows="5"></textarea><br>
        <label for="name">名前 *</label><br>
        <textarea cols="110" name="name" rows="1" required="true"></textarea><br>
        <input type="submit" value="送信">
      <% end %>
      <div class="comments">
        <h4><コメント一覧></h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="sidemenu">
      <aside class="search">
        <form role="search" method="get" class="search-form" action="https://hiroono.com/ja/">
          <label>
            <span>検索:</span>
            <input type="search" class="search-field" placeholder="検索" value="" name="" />
          </label>
        <input type="submit" value="検索" />
      </form>
      </aside>
      <aside class="archive">
        <h3>アーカイブ</h3>
        <ul>
          <li><a href='https://hiroono.com/ja/2017/05/'>2017年5月</a></li>
          <li><a href='https://hiroono.com/ja/2017/05/'>2017年5月</a></li>
          <li><a href='https://hiroono.com/ja/2017/05/'>2017年5月</a></li>
          <li><a href='https://hiroono.com/ja/2017/05/'>2017年5月</a></li>
        </ul>
      </aside>
    </div>
  </div>

</div>